img{
    width: 400px;
    height: 300px;
}
h1{
    color: black;
    padding: 10px;
    font-size: 20px;
}
h2{
    color: black;
    padding: 10px;
}
p{
    padding:10px
    font-size 20px;
}